<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container d-flex align-items-center">
    <div>
      <%= link_to "MovieWatch", lists_path %>
    </div>
    <div>
      <%= link_to "My lists", lists_path %>
      <%= link_to "New list", new_list_path %>
    </div>
  </div>
</nav>

<div class="container pt-5">
  <h1><%= @list.name %></h1>
  <div>
    <% @list.bookmarks.each do |bookmark| %>
      <div class="container movie-card d-flex">
      <img src="<%= bookmark.movie.poster_url%>" alt="movie poster" class="img-movie">
      <p><%= bookmark.movie.title %></p>
      <%= link_to "Delete this bookmark", list_bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </div>
    <% end %>
  </div>
  <div>
    <%= link_to "Create new bookmark", new_list_bookmark_path(@list) %>
  </div>
</div>
